# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules
**/node_modules

# builds
dist
**/dist
.next
out

# env files
.env
.env.local
**/.env
**/.env.local

# misc
.DS_Store
